body
{
    background-color: red;
}
div
{
    margin :0;
    padding:0;
}
.l_eye,.r_eye
{
    /* background:rgb(212, 0, 231) ; */
    position: absolute;
    animation-name:example;
    animation-duration: 1.5s ;
    animation-iteration-count: infinite;
    animation-delay:-0.7s ;
    transform:rotate(45deg);
}
.android
{
    height:90px;
    width:330px;
    margin:100px auto;
}
.head 
{ 
    top:100px;
    background:rgb(212, 0, 231) ;
    width: 220px; 
    height: 100px; top: 32px; 
    border-radius: 110px 110px 0 0; 
    position: absolute;
}
.l_eye
{
    width: 20px; 
    height: 20px; 
    position: absolute; 
    top: 60px;
    /* transform: rotate(45deg);  */
    border-right: 3px solid white;
    border-top: 3px solid white;
}
.r_eye
{
    width: 20px; 
    height: 20px; 
    position: absolute; 
    top: 60px;
    /* transform: rotate(45deg);  */
    border-left: 3px solid white;
    border-bottom: 3px solid white; 
}
.l_eye
{ 
    left: 50px;
} 
.r_eye
{ 
    right: 50px; 
    /* transform: rotate(-45deg); */
}
.l_ant
{
    width:60px;
    height:10px;
    position:absolute ;
    border-radius: 50px;
    /* border: ; */
    background-color: rgb(212, 0, 231);
}
.r_ant
{
    width:60px;
    height:10px;
    position:absolute ;
    border-radius: 50px;
    background-color: rgb(212, 0, 231);

}
.l_ant 
{ 
 left: 10px;
 transform:rotate(50deg);  
} 

.r_ant 
{ 
  right: 10px; 
  transform: rotate(-50deg); 
}
.body
{
    width:200px;
    height:184px;
    top:40px;
    border-radius: 0 0 25px 25px;
    background:rgb(212, 0, 231) ;
    padding:3%
}
.l_arm ,.r_arm,.l_leg,.r_leg
{
    width:50px;
    position:absolute;
    background:rgb(212, 0, 231) ;
}
.l_arm,.r_arm
{
    height:150px;
    border-radius:20px;
}
.l_arm{
    left:585px;
    transform: rotate(270deg);
}
.r_arm{
    right:700px;
    transform: rotate(270deg);
}
div.button1
{
    padding:50px 0 0 200px ;
    position:reltiave;
}

@keyframes example{
    0%{
        transform:rotate(45deg);
    }
    30% {
        transform: rotate(0deg);
        border-radius: 50%;
        border: 3px solid white;
        height:30px;
        transform: translate(0,-20%);
        background-color: white;
        opacity: 0.8;
      }
      70% {
        transform: rotate(0deg);
        border-radius: 50%;
        border: 3px solid white;
        height:30px;
        transform: translate(0,-20%);
        background-color: white;
        opacity: 0.8;
      }
    }
.button1{
    /* text-align: center; */
    border-radius: 30%;
    height:60px;
    width: 70px;
}