body {
    background-color: rgb(53, 53, 53);
}

.and-head {
    position: absolute;
    height: 12vh;
    width: 25vh;
    background-color: rgb(69, 235, 47);
    top: -28%;
    left: 50%;
    transform: translate(-50%, -45%);
    border-radius: 30vh 30vh 15px 15px;
}

.l-ant {
    position: absolute;
    width: 1vh;
    height: 7vh;
    background-color: rgb(69, 235, 47);
    border-radius: 6vh;
    transform: rotateZ(-45deg);
    z-index: -1;
}

.r-ant {
    position: absolute;
    width: 1vh;
    height: 7vh;
    right: 0;
    background-color: rgb(69, 235, 47);
    border-radius: 6vh;
    transform: rotateZ(45deg);
    z-index: -1;
}

.l-eye {
    position: absolute;
    top: 30%;
    left: 25%;
    height: 4vh;
    width: 2vh;
    background-color: rgba(39, 38, 38, 0.5);
    /* border: 0.5vh solid white; */
    border-radius: 3vh;

}
.r-eye {
    position: absolute;
    top: 30%;
    right: 25%;
    height: 4vh;
    width: 2vh;
    background-color: rgba(39, 38, 38, 0.5);
    /* border: 0.5vh solid white; */
    border-radius: 3vh;
}

.and {
    position: absolute;
    height: 28vh;
    width: 25vh;
    background-color: rgb(69, 235, 47);
    border-radius: 1vh;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -25%);
}

.and .l-hand, .r-hand {
    position: absolute;
    top: 5%;
    right: -6vh;
    height: 20vh;
    width: 5vh;
    background-color: rgb(69, 235, 47);
    border-radius: 3vh;

}
.and .l-hand {
    left: -6vh;
    
}
.and .r-hand {
    right: -6vh;
}

.and .l-leg, .r-leg {
    position: absolute;
    width: 6vh;
    height: 10vh;
    bottom: -11vh;
    background-color: rgb(69, 235, 47);
    border-radius: 0.5vh 0.5vh 2vh 2vh;
}

.l-leg {
    left: 3vh;
}

.r-leg {
    right: 3vh;
}

@keyframes head-moves {
    to {transform: 10;}
}